/*! Pages */
// ===========================================================================================

/* Intro */
/*********************************************************************************/

.intro-pages {
    position: fixed;
    top: 0;
    left: 0;
    height: 60vh;
    width: 100%;
    z-index: 1;
}

.bg-image {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 60vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    z-index: 3;
    
}

.bg-image {
    background-image: url('../images/header-page.jpg');
}

#rooms .bg-image {
    background-image: url('../images/header-habitacio.jpg');
}

#history .bg-image {
    background-image: url('../images/header-historia.png');
}

@media only screen and (min-width: 1025px) {
    .bg-image {
        //background-attachment: fixed;
    }

    #rooms .bg-image {
        background-image: url('../images/header-habitacio.jpg');
    }
    
    #history .bg-image {
        background-image: url('../images/header-historia.png');
    }
    
}


/* Modernist */
.modernist-pages {
    margin-top: 60vh;
    border-top: 4px solid #fff;
}

.modernist.modernist-small {
    background-size: 3em 3em;
}

.modernist.modernist-small:before,
.modernist.modernist-small:after {
    height: 1px;
}

.modernist.modernist-btmborder {
    border-bottom: 1px solid rgba(107,60,80,0.5);
}


/* One */
/*********************************************************************************/

#one-pages {
    background-color: rgba(242, 239, 237, 1);
    background-color: #F9E6D8;
    position: relative;
    z-index: 9999;
}

#one-pages.main {
    margin: 0;
    padding-top: 11.5em;
}

#one-pages .column.fullwidth {
    padding: 2em 1em 1em;
    border: 2px solid rgba(118, 152, 110, 0.5);
}

#one-pages .column.fullwidth > .row {
    align-items: center;
}

#one-pages h1 {
    margin-top: -3em;
}

#one-pages img {
    height: auto;
    width: 100%;
    margin: 2em auto 0;
    border: 30px solid #fff;
}

#one-pages p {
    background-color: rgba(242, 239, 237, 0.95);
    background-color: rgba(255, 255, 255, 0.95);
    padding: 1.500em 3em;
    margin-bottom: 0;
}

#one-pages p:before,
#one-pages p:after {
    position: relative;
    content: "";
    background-image: url("../images/svg/filigree-4-green-darker.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: block;
    left: 50%;
    margin: 0 0 0 -15px;
}

#one-pages p:before {
    margin-bottom: 1.5em;
}

#one-pages p:after {
    margin-top: 2em;
}

@media only screen and (min-width: 481px) {
    #one-pages .column.fullwidth {
        padding: 2em 2em 2em;
    }
}

/* Two */
/*********************************************************************************/
#two.main.main-pages {
    padding-top: 7em;
}

.two.history-content img {
    border: 10px solid #fff;
}

.two .subcopy {
    margin-top: 3em;
}

.two .subcopy:before,
.two .subcopy:after {
    background-image: url("../images/svg/filigree-taverna-1.svg");
    width: 30px;
    height: 20px;
    display: block;
    left: 50%;
    margin: 0 0 0 -15px;
}

.two .subcopy:before {
    margin-bottom: 1.5em;
}

.two .subcopy:after {
    margin-top: 2em;
}


/* Three */
/*********************************************************************************/

/* Gallery Lightbox */
.gallery {
    position: relative;
    margin-top: 0;
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(107, 60, 80, 0.5);
    z-index: 2;
}

.gallery ul {
    list-style: none;
    background: transparent;
    list-style: none;
    margin: 0 auto 2em;
    padding: 0 1em 3em;
    text-align: center;
    width: 100%;
    
    background-image: url("../images/svg/filigree-1-green.svg");
    background-size: 3em 3em;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.gallery ul:before,
.gallery ul:after {
    position: absolute;
    top: auto;
    bottom: 0;
    content: '';
    background: rgba(118,152,110,0.5);
    height: 2px;
    max-width: 25%;
    width: 100%;
    margin: 0 auto 3em;
}

.gallery ul:before {
    right: 55%;
}

.gallery ul:after {
    left: 55%;
}

.gallery ul li {
    display: inline;
    float: none;
    margin-right: 4px;
}

.gallery ul li:first-child {
    margin-left: 0;
}

.gallery ul li:last-child {
    margin-right: 0;
}

.gallery ul a {
    width: auto;
    line-height: 20px;
    padding: 0;
    height: auto;
    background: #6b3c50;
    display: inline-block;
}

.gallery ul a img {
    float: left;
    max-width: 343px;
    border: 10px solid #fff;
    opacity: 1;
    .transition04;
}

.gallery ul a:hover img {
    opacity: 0.8;
}


/* Rooms */
.row.row-wbg {
    align-items: flex-end;
}

.column.column-wbg {
    background-image: url("../images/svg/filigree-1-rose.svg");
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    line-height: 1;
    text-align: center;
    font-size: 7em;
    margin-bottom: 0.5em;
}


/* Lightbox rooms */
.lightbox-wrapper {
    display: block;
    margin: 0 auto;
}

.lightbox {
    z-index: 2;
    text-align: center;
    margin: 2em 0 0 0;
}

#rooms .row {
    margin-top: 2em;
}

#rooms.three .row {
    margin-bottom: -1em;
}

#rooms.main.style3 {
    text-align: left;
}

#rooms .lightbox h2 {
    font-size: 1.250em;
    margin-bottom: 0.5em;
    background-size: 1.1em 1.1em;
}

#rooms .lightbox h2:before,
#rooms .lightbox h2:after {
  max-width: 1em;
}

.lightbox ul {
    position: relative;
    display: inline-block;
    list-style: none;
    background: transparent;
    list-style: none;
    margin: 0;
    padding: 0;
}

.lightbox ul li {
    position: absolute;
    margin: 0;
    z-index: 1;
}

.lightbox ul li:first-child {
    position: relative;
    float: left;
    z-index: 2;
}

.lightbox ul a {
    width: auto;
    line-height: 20px;
    padding: 0;
    height: auto;
    background: #6b3c50;
    display: inline-block;
}

.lightbox ul a img {
    float: left;
    border: 10px solid #fff;
    opacity: 1;
    .transition04;
}

.lightbox ul a:hover img {
    opacity: 0.7;
}

@media only screen and (min-width: 415px) {
    #rooms .lightbox h2 {
        padding: 0.450em 1.5em 0.850em;
    }
}

/* Offers */
#offers-section.three .row {
    align-items: center;
}

#offers-section .effect p {
    font-size: 1.25em;
}

#offers-section .row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgba(107, 60, 80, 0.15);
}

#offers-section h3 {
    position: relative;
    display: table;
    color: #472A39;
    margin: 0 auto 0.5em;
    padding: 0.450em 0 0.750em;
    border-radius: 0.4rem;
    z-index: 9;
    
    background-image: url("../images/svg/filigree-1-rose.svg");
    background-size: 0.7em 0.7em;
    background-repeat: no-repeat;
    background-position: center 100%;
    background-color: rgba(255, 255, 255, 0.15);
}

#offers-section h3:after {
  position: absolute;
  bottom: 0.45em;
  content: '';
  background: rgba(107, 60, 80, 0.2);
  height: 1px;
  width: 90%;
  margin: 0 auto;
}

#offers-section h3:after {
    right: 5%;
}

#offers-section .effect > a > i {
    font-size: 2.2em;
}

#offers-single img {
    border: 20px solid #fff;
    margin: 2em auto 3em;
    max-width: 700px;
}

.offer-btns,
.gethere {
    border-top: 1px solid rgba(107, 60, 80, 0.15);
    background-image: url("../images/svg/filigree-1-rose.svg");
    background-size: 2em 2em;
    background-repeat: no-repeat;
    background-position: center -15px;
}

.offer-btns a {
    display: block;
    color: white;
    background-color: rgba(118,152,110,0.8);
    border: 1px solid rgba(118,152,110,0.8);
    width: 100%;
    padding: 0.650em 1em;
    font-size: 1.2em;
    border-radius: 0.4rem;
    margin-top: 2em;
    .transition03;
}

.offer-btns .col-left a {
    color: rgba(118,152,110,0.8);
    background-color: transparent;
}

.offer-btns a:hover,
.offer-btns a:focus {
    background-color: #6b3c50;
    border-color: #6b3c50;
}

.offer-btns .col-left a:hover,
.offer-btns .col-left a:focus {
    color: #6b3c50;
    background-color: transparent;
    border-color: #6b3c50;
}

#map-single img {
    border: 10px solid #fff;
    margin: 2em auto 0;
    max-width: 1000px;
}

#map-single label {
    font-size: 1.8em;
    font-weight: 300;
    color: #472a39;
}

#map-single input[type='text'] {
    display: block;
    max-width: 400px;
    margin: 1em auto 2em;
    color: #140b10;
    background-color: rgba(255, 255, 255, 0.5);
}

#map-single input[type='submit'] {
    font-weight: 300;
}

#map-single input[type='text']:hover,
#map-single input[type='text']:focus {
    border-color: #6b3c50;
    background-color: rgba(255, 255, 255, 0.9);
}


