/*! Variables */
// ==========================================================================

// Colors
//============
@black: #070707; //rgba(7, 7, 7, 100)
@white: #ffffff; //rgba(255, 255, 255, 100)

@grey: rgba(131, 137, 142, 1); // #83898E
@grey75: rgba(161, 166, 169, 1); // #A1A6A9
@grey50: rgba(192, 194, 197, 1); // #C0C2C5
@grey25: rgba(224, 226, 227, 1); // #E0E2E3

@blue: rgba(125, 155, 193, 1);
@blue75: rgba(113, 144, 183, 1);
@blue50: rgba(184, 197, 218, 1);

@brown: rgba(154, 144, 135, 1);
@brown75: rgba(178, 169, 162, 1);


/* Coolors Exported Palette - coolors.co/595959-7d868c-d8dbe2-8fb8de-315d9e */
@darkgrey: #595959; //rgba(89, 89, 89, 1);

@lightgrey: #D8DBE2; //rgba(216, 219, 226, 1); 
@skyblue: #8FB8DE; //rgba(143, 184, 222, 1);
@seablue: #315D9E; //rgba(49, 93, 158, 1);

@skyblue50: #CCDEF0;
@skyblue25: #EAF2F9;



/* Social palette */
@facebook: #3b5998; //rgba(59, 89, 152, 1);
@flickr: #ff0084; // rgba(255, 0, 132, 1);
@twitter: #55acee; //rgba(85, 172, 238, 1);
@googleplus: #dd4b39; //rgba(211, 75, 57, 1);
@instagram: #517fa4; //rgba(81, 127, 164, 1);
@linkedin: #0075b5; //rgba(0, 119, 181, 1);
@periscope: #40a4c4; //rgba(64, 164, 196, 1);
@pinterest: #bd081c; //rgba(189, 8, 28, 1);
@skype: #00aff0; //rgba(0, 175, 240, 1);
@vimeo: #1ab7ea; //rgba(26, 183, 234, 1);
@vine: #00bf8f; //rgba(0, 191, 143, 1);
@whatsapp: #25D366; //rgba(37, 211, 102, 1);
@wordpress: #21759b; //rgba(33, 117, 155);
@youtube: #cd201f; //rgba(205, 32, 31, 1);
@email: rgba(210, 210, 210, 1);

// Typography
//============

