

    <div class="modal-wrapper">
        
        <div class="modal-container">
            
            <h2>Aviso Legal</h2>
            
            <p>El dominio: http://tavernadelasal.com es propiedad de la empresa CAN KIWI SL, con NIF B55243653. El domicilio fiscal de l’empresa es Carrer Santa Màxima 7, 17120 l'Escala, Girona. Se puede poner en contacto con nosotros en el +34 972 00 00 00 o en el e-mail: info@tavernadelasal.com.</p>
            
            <h3>Propiedad intelectual</h3>
            <p>La totalidad del contenido de este sitio web está protegido por derechos de propiedad industrial e intelectual que el usuario ha de respetar. Queda prohibida la reproducción, excepto para uso privado, la comunicación o distribución de los materiales incluidos en este sitio web sin autorización expresa de CAN KIWI SL.</p>
            
            <h3>Protección de datos</h3>
            <p>De conformidad con lo que dispone la Ley Orgánica 15/1999, del 13 de diciembre, de Protección de Datos de Carácter Personal (LOPD), le informamos que sus datos personales se incorporarán a ficheros titularidad de CAN KIWI SL con la finalidad de poder atender adecuadamente sus peticiones de información y elaborar los presupuestos que puedan solicitarnos. Para ejercitar los derechos de acceso, rectificación, cancelación y oposición que contempla la Ley, puede dirigirse mediante carta a Carrer Santa Màxima 7, 17120 l'Escala, Girona, Ref. Protecció de dades.</p>
            
        </div><!-- /.modal-container -->
        
    </div> <!-- sk-modal -->

    