

    <div class="modal-wrapper">
        
        <div class="modal-container">
            
            <h2>Avís Legal</h2>
            
            <p>El domini: http://tavernadelasal.com és propietat de l'empresa CAN KIWI SL, amb el NIF B55243653. El domicili de l'empresa és Carrer Santa Màxima 7, 17120 l'Escala, Girona. També pot posar-se en contacte amb nosaltres en el +34 972 52 00 69 o l'e-mail: info@tavernadelasal.com.</p>
            
            <h3>Propietat intel·lectual i industrial</h3>
            <p>La totalitat del contingut d'aquest lloc web està protegit per drets de propietat industrial i intel·lectual que l'usuari d'aquest lloc web ha de respectar. Queda prohibida la reproducció, excepte per a ús privat, la comunicació o distribució dels materials inclosos en aquest lloc web sense autorització expressa de CAN KIWI SL.</p>
            
            <h3>Protecció de dades</h3>
            <p>De conformitat amb el que disposa la Llei Orgànica 15/1999, de 13 de desembre, de Protecció de Dades de Caràcter Personal (LOPD), l'informem que les seves dades personals són incorporades en fitxers titularitat de CAN KIWI SL amb la finalitat de poder atendre adequadament les seves peticions d'informació i elaborar els pressupostos que puguin sol·licitar-nos. Per exercir els drets d'accés, rectificació, cancel·lació i oposició que contempla la Llei pot dirigir-se mitjançant carta a Carrer Santa Màxima 7, 17120 l'Escala, Girona, Ref. Protecció de dades.</p>
            
        </div><!-- /.modal-container -->
        
    </div> <!-- sk-modal -->

    