

    <div class="modal-wrapper">
        
        <div class="modal-container">
            
            <h2>Legal Notice</h2>
            
            <p>The domain: http://tavernadelasal.com is the property of CAN KIWI SL, with Tax Identity B55243653. The company’s registered offices are at Carrer Santa Màxima 7, 17120 l'Escala, Girona. You can also contact us on +34 972 00 00 00 o en el e-mail: info@tavernadelasal.com.</p>
            
            <h3>Intellectual and Industrial Property</h3>
            <p>The entire contents of this website are protected by industrial and intellectual property rights that users of this website must respect. The reproduction, except for private use, communication or distribution of the materials included in this site is forbidden without the written authorisation of CAN KIWI SL.</p>
            
            <h3>Data Protection</h3>
            <p>According to that established in the Personal Data Protection Act (LOPD) 15/1999 of 13th December, please be advised that your personal details are included in the files held by CAN KIWI SL in order to be able to suitably deal with your requests for information and to prepare any estimates you may request. To exercise your rights to access, amend, cancel and oppose this data, as established by Law, please contact us in writing at Carrer Santa Màxima 7, 17120 l'Escala, Girona, Ref. Protecció de dades.</p>
            
        </div><!-- /.modal-container -->
        
    </div> <!-- sk-modal -->

    