
<div class="modal-wrapper">
    <div class="modal-container">
        <div class="row">
            <div class="column">
                <h2>Avantages</h2>
                <ul>
                    <li>Meilleur PRiX Garanti!</li>
                    <li>10% de reduction dans notre restaurant <strong>Taverna de la Sal</strong></li>
                </ul>
            </div>
        </div>
    </div><!-- /.modal-container -->
</div> <!-- sk-modal -->
    