

<div class="modal-wrapper">

    <div class="modal-container">
        <div class="row">
            <div class="column">
                <h2>Advantage</h2>
                <p>Book directly on our website and enjoy a 10% discount at our restaurant <strong>Taverna de la Sal</strong>.</p>
            </div>
        </div>

    </div><!-- /.modal-container -->

</div> <!-- sk-modal -->

    