

<div class="modal-wrapper">

    <div class="modal-container">
        <div class="row">
            <div class="column">
                <h2>Ventajas</h2>
                <p>Reserva directamente en nuestra web y disfruta de un 10% de descuento en nuestro restaurante <strong>Taverna de la Sal</strong>.</p>
            </div>
        </div>

    </div><!-- /.modal-container -->

</div> <!-- sk-modal -->

    