

<div class="modal-wrapper">

    <div class="modal-container">
        <div class="row">
            <div class="column">
                <h2>Avantages</h2>
                <p>Réservez directement sur notre site et profitez de 10% de reduction dans notre restaurant <strong>Taverna de la Sal</strong>.</p>
            </div>
        </div>

    </div><!-- /.modal-container -->

</div> <!-- sk-modal -->

    