

<div class="modal-wrapper">

    <div class="modal-container">
        <div class="row">
            <div class="column">
                <h2>Avantatges</h2>
                <p>Reserva directament a la nostra web i disfruta d'un 10% de descompte en el nostre restaurant <strong>Taverna de la Sal</strong>.</p>
            </div>
        </div>

    </div><!-- /.modal-container -->

</div> <!-- sk-modal -->

    