
<div class="modal-wrapper">
    <div class="modal-container">
        <div class="row">
            <div class="column">
                <h2>Avantatges</h2>
                <ul>
                    <li>Les millors TARIFES a la nostra web!</li>
                    <li>10% de descompte en el nostre restaurant <strong>Taverna de la Sal</strong></li>
                </ul>
            </div>
        </div>
    </div><!-- /.modal-container -->
</div> <!-- sk-modal -->
    