
<div class="modal-wrapper">
    <div class="modal-container">
        <div class="row">
            <div class="column">
                <h2>Advantage</h2>
                <ul>
                    <li>Best RATES Guaranteed!</li>
                    <li>10% discount at our restaurant <strong>Taverna de la Sal</strong></li>
                </ul>
            </div>
        </div>
    </div><!-- /.modal-container -->
</div> <!-- sk-modal -->
    